<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Flask App</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
  </head>
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/requirements">Requirements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/generate-users">Generate users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/space">Space</a>
      </li>
    </ul>
  </nav>
  <body>
    {% block body %} {% endblock %}
  </body>
</html>
