{% extends 'index.html' %} 
{% block body %}
<h1>People Are In Space Right Now</h1>
<div class="container-space">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Craft</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      {% for item in req %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{item.craft}}</td>
        <td>{{item.name}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<p style="text-align: center">
  <img
    src="https://media.giphy.com/media/KEG5UtvXUD7WPIhhuy/giphy.gif"
    alt="Astronaut"
  />
</p>
{% endblock %}
