{% extends 'index.html' %} {% block body %}
<div class="container" style="margin-left: 2.5em">
  <h1>Students</h1>
  <a class="btn btn-outline-success" href="/student/csv" role="button" style="margin-bottom: 2.5em">Export to csv</a>
</div>
<div class="container-space">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Student</th>
        <th scope="col">Group</th>
        <th scope="col">Phone number</th>
        <th scope="col">Email</th>
        <th scope="col">Birthday</th>
      </tr>
    </thead>
    <tbody>
      {% for student in object_list.all %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <th scope="row">{{ student.fullname }}</th>
        <th><a href="/group/{{student.group.id}}">{{ student.group }}</a></th>
        <th scope="row">{{ student.phone_number }}</th>
        <th scope="row">{{ student.email }}</th>
        <th scope="row">{{ student.birthday }}</th>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
